@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 225 21% 95%;
		--foreground: 225 5% 10%;
		--card: 225 21% 90%;
		--card-foreground: 225 5% 15%;
		--popover: 225 21% 95%;
		--popover-foreground: 225 95% 10%;
		--primary: 225 36.4% 21.6%;
		--primary-foreground: 0 0% 100%;
		--secondary: 225 21% 82%;
		--secondary-foreground: 0 0% 0%;
		--muted: 187 21% 85%;
		--muted-foreground: 225 5% 40%;
		--accent: 187 21% 82%;
		--accent-foreground: 225 5% 15%;
		--destructive: 0 50% 50%;
		--destructive-foreground: 225 5% 90%;
		--success: 140 45% 45%; /* Added success color */
		--success-foreground: 140 95% 10%; /* Success foreground */
		--border: 225 21% 82%;
		--input: 225 21% 50%;
		--ring: 225 36.4% 21.6%;
		--radius: 0.5rem;
	}
	.dark {
		--background: 225 21% 10%;
		--foreground: 225 5% 90%;
		--card: 225 21% 10%;
		--card-foreground: 225 5% 90%;
		--popover: 225 21% 5%;
		--popover-foreground: 225 5% 90%;
		--primary: 225 36.4% 21.6%;
		--primary-foreground: 0 0% 100%;
		--secondary: 225 21% 20%;
		--secondary-foreground: 0 0% 100%;
		--muted: 187 21% 25%;
		--muted-foreground: 225 5% 65%;
		--accent: 187 21% 25%;
		--accent-foreground: 225 5% 90%;
		--destructive: 0 50% 50%;
		--destructive-foreground: 225 5% 90%;
		--success: 140 45% 35%; /* Dark mode success */
		--success-foreground: 140 95% 90%;
		--border: 225 21% 50%;
		--input: 225 21% 50%;
		--ring: 225 36.4% 21.6%;
		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
